<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scenario.name %>
</p>

<p>
  <b>Description:</b>
  <%= @scenario.description %>
</p>

<p>
  <b>Module folder:</b>
  <%= @scenario.module_folder %>
</p>

<p>
  <b>Component Results:</b>
<% unless @component_results.empty? %>
<!--
<table class="component_results">
  <tr>
    <th>Input folder</th>
    <th>Component</th>
    <th>Output folder</th>
  </tr>
  <% @component_results.each do |component_result| %>
  <tr>
    <td>
    <%  if previous = component_result.previous_component_result %>
    <%= link_to( previous.folder, previous) %>
    <% end %>
    </td>
    <td><%= link_to( component_result.component.name, component_result.component ) %></td>
    <td><%= link_to( component_result.folder, component_result ) %></td>
  </tr>
  <% end %>
</table>
<% end %>

-->

<%= raw list_tree_component_results( @component_results.map {|cr| cr.root }.uniq ) %>

</p>

<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
